@import "themes";

/*********
* BUTTONS
*********/
.btn-round{ @include border-radius(4px); border: 0; }
.btn-round-right{ @include border-radius-right(4px); }
.btn-round-left{ @include border-radius-left(4px); }
.btn-shadow-default{ @include button-box-shadow(3px, $main-color-dark); }
.btn-shadow-positive{ @include button-box-shadow(3px, $positive-color-dark); }
.btn-shadow-negative{ @include button-box-shadow(3px, $negative-color-dark); }
.btn-shadow-default-large{ @include button-box-shadow(5px, $main-color-dark); }
.btn-shadow-positive-large{ @include button-box-shadow(5px, $positive-color-dark); }
.btn-shadow-negative-large{ @include button-box-shadow(5px, $negative-color-dark); }
.btn-default{ background-color: $main-color; color: #fff;}
.btn-positive{ background-color: $positive-color; color: #fff;}
.btn-negative{ background-color: $negative-color; color: #fff;}
.btn-outline-default{ border: 2px solid $main-color-dark; background-color:transparent; }
.btn-outline-positive{ border: 2px solid $positive-color-dark; background-color:transparent; }
.btn-outline-negative{ border: 2px solid $negative-color-dark; background-color:transparent; }
.text-light{ font-weight: lighter; }
.btn-small{ font-size: 12px !important;}
.btn-padding{ padding: 0px 24px;}
.btn-circle{ @include border-radius(50%); color: #fff; border: none; height: 50px; width: 50px; padding: 0;}
.btn-facebook{ background-color: #3b5998 ;}
.btn-twitter{ background-color: #55acee ;}
.btn-googleplus{ background-color: #d62d20 ;}

/******
* TEXT
******/
.text-bold{ font-weight: 700; }
.text-light{ font-weight: 200; }
.text-italic{ font-style: italic; }
.text-positive{ color: $positive-color-dark !important; }
.text-negative{ color: $negative-color-dark !important; }

/*******
* OTHER
*******/
.pull-right{ float: right; }
.border-round{ @include border-radius(4px) }
.show-overflow{ overflow: visible !important; }

/***********************
* Overwrite ionic styles
***********************/
.bar, ion-header-bar.bar, .tabs{ background-color: $main-color !important; }
.bar .title, .bar .button.back-button, .bar .button.button-clear, ion-tabs.tabs-color-active-positive .tab-item{ color: #fff !important; }
.bar-stable .button{ color: #fff; }
.slider{ height: 100%;}
#home .scroll { height: 100% }
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{ background: $main-color-dark; border: $main-color-dark; }
.item-radio input:checked ~ .item-content{ background: $main-color-dark; color: #fff; }
.item-radio input:checked ~ .radio-icon{ color: #fff; }

/***********************************APP STYLES*******************************************/

/***************
* Post header
****************/
.item-image.no-img{
	background-color: #eee;
}
.tab-posts {
	.item-image, .tab-post-details .item-image{
		background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	  min-height: 80px;
	  max-height: none !important;
	  height: auto !important;
	  clip: rect(0px 80px 80px 0px);
	}
	.post-info-heading, .tab-post-details .post-info-heading{
		height: 80px;
	}
	// .post-rating, .tab-post-details .post-rating{
	// 	font-size: 22px;
	// 	font-weight: 500;
	// 	text-align: center;
	// 	@include border-radius(50%);
	// 	background-color: $main-color-light;
	// 	color: #fff;
	// 	height: 40px;
	//   width: 40px;
	//   line-height: 40px;
	// }
}

/***************
* Tags input
****************/
.tags-wrapper{
	background-color: transparent;
	overflow: hidden;
	margin: -10px;
  padding: 10px;
  position: relative;

  .blur-overlay{
  	position: absolute;
  	top: -10px;
  	bottom: -10px;
  	right: -10px;
  	left: -10px;
  	z-index: -1;
  	background-image: url('../images/corks_bg.jpg');
  	background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
  	@include blur(12px);
  }
	h3{ color: #fff; }
}

tags-input {
	.tags{
		@include border-radius(32px);
		@include box-shadow(0px 0px 0px 0 #fff);
		border: 2px solid $main-color-dark;
		color: $text-color;
		padding: 4px;

		.tag-item{
			@include border-radius(16px);
		  	padding: 0px 10px;
		  	background: #FFF;
		  	border: 1px solid $main-color-dark;
		}
	}
	.tags.focused{
		@include box-shadow(0px 0px 0px 0 #fff);
	}
}



/***************
* Add post page
****************/
.add-post-page label{
  color: #888;
}
.add-post-page .main-label{
  font-size: 18px;
  color: initial;
}
.form-section{
  border-left: 5px solid #ddd;
  padding: 10px;
  position: relative;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.form-section.colorfocus{
  border-left: 5px solid #AD1457;
  background-color: #eee;
}
.form-section .wine-type-choices label{
  margin-right: 10px;
}
.form-section .glyphicon-ok{
  float: right;
  font-size: 15px;
  color: #009900;
}
span.help-text{
  font-size: 12px;
  color: #666;
  display: inline-block;
}
