<!-- 
maakunta
alkuperäisalue / tuotantoalue
viinityyppi
kylä
palsta
monta luokkaa:
- everyday wine
- fine dining
- expert
hintahaarukka
-->
<ion-view view-title="Lisää arvostelu">
	<ion-content class="padding">
		<span style="color:#888;">* merkillä olevat ovat pakollisia</span>

		<form class="list">

			<button class="button button-full btn-default" ng-click="vm.takePicture()">
				<span ng-if="!vm.post.image.length">Ota kuva pullosta/etiketistä *</span>
				<span ng-if="vm.post.image.length">Ota uusi kuva *</span>
			</button>
			<img ng-if="vm.post.image.length" ng-src="data:image/jpeg;base64,{{vm.post.image}}">

			<div class="item item-divider">Arvostelun otsikko *</div>
			<label class="item item-input">
				<input ng-model="vm.post.title" type="text" required placeholder="Esim: 'Painter's Cove Shiraz Cabernet 2014'">
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.title}"></span> -->
			</label>
			<br>

			<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.type.content	}"></span> -->
			<div class="item item-divider">Valitse viinin tyyppi *</div>
			<label class="item item-radio">
				<input type="radio" name="group" ng-model="vm.post.details.type.content" value="red">
				<div class="item-content">Punaviini</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group" ng-model="vm.post.details.type.content" value="white">
				<div class="item-content">Valkoviini</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group" ng-model="vm.post.details.type.content" value="rose">
				<div class="item-content">Roseviini</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group" ng-model="vm.post.details.type.content" value="dessert">
				<div class="item-content">Jälkiruokaviini</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group" ng-model="vm.post.details.type.content" value="sparkling">
				<div class="item-content">Kuohuviini</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group" ng-model="vm.post.details.type.content" value="champagne">
				<div class="item-content">Samppanja</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<br>

			<div class="item item-divider">Rypäleet</div>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.grapes.content[0]}"></span> -->
				<!-- <span class="help-text">Kun alat kirjoittamaan voit valita rypäleen aukeavasta listasta tai kirjoittaa uuden rypäleen nimen ja painaa rivinvaihtoa.</span> -->
			<div class="item show-overflow">
				<tags-input ng-model="vm.post.details.grapes.content" placeholder="Kirjoita rypäleen nimi">
		    	<auto-complete source="vm.loadAutocompleteTags($query)"></auto-complete>
		    </tags-input>
	    </div>
			<!-- <input class="form-control" type="text" ng-model="vm.post.details.grapes.content" placeholder="Erottele pilkulla ja välilyönnillä"> -->
			<br>

			<div class="item item-divider">Yksityiskohdat</div>
			<label class="item item-input">
				<span class="input-label">Vuosi *</span>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.year.content}"></span> -->
				<input type="number" min="1800" max="{{vm.currentYear}}" placeholder="Anna vuosiluku" ng-model="vm.post.details.year.content" required>
			</label>

			<label class="item item-input">
				<span class="input-label">Tuottaja *</span>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.producer.content}"></span> -->
				<input class="form-control" type="text" placeholder="Anna tuottaja" ng-model="vm.post.details.producer.content" required>
			</label>

			<label class="item item-input">
				<span class="input-label">Maa *</span>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.country.content}"></span> -->
				<input type="text" placeholder="Anna maa" ng-model="vm.post.details.country.content" required>
			</label>

			<label class="item item-input">
				<span class="input-label">Alue</span>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.location.content}"></span> -->
				<input type="text" placeholder="Anna viinialue" ng-model="vm.post.details.location.content">
			</label>

			<label class="item item-input">
				<span class="input-label">Palsta</span>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.plot.content}"></span> -->
				<input type="text" placeholder="Anna viinipalsta" ng-model="vm.post.details.plot.content">
			</label>

			<label class="item item-input">
				<span class="input-label">Litramäärä</span>
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : !vm.post.details.litres.content}"></span> -->
				<input type="number" placeholder="Anna pullon koko" min="0" step="0.01" ng-model="vm.post.details.litres.content" placeholder="Esim: 0.75 tai 1">
			</label>
			<br>

			<!-- TEE DOLLARI MERKKI VALINTA -->
			<div class="item item-divider">Hintaluokka *</div>
			<div class="item item-input">
				<div class="row text-center">
					<div class="col price-option" ng-click="vm.givePrice('1')" ng-class="{'selected' : vm.post.details.prize.content === '1'}"><i class="ion-social-euro" ></i></div>
					<div class="col price-option" ng-click="vm.givePrice('2')" ng-class="{'selected' : vm.post.details.prize.content === '2'}"><i ng-repeat="x in [] | range: 2" class="ion-social-euro"></i></div>
					<div class="col price-option" ng-click="vm.givePrice('3')" ng-class="{'selected' : vm.post.details.prize.content === '3'}"><i ng-repeat="x in [] | range: 3" class="ion-social-euro"></i></div>
				</div>	
			</div>
			<div>hinta: {{vm.post.details.prize}}</div>
			<br>

			<div class="item item-divider">Kuvaus *</div>
			<label class="item item-input">
				<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : vm.post.description == ''}"></span> -->
				<textarea ng-model="vm.post.description" type="text" required placeholder="Anna vapaamuotoinen kuvaus viinistä"></textarea>
			</label>
			<br>

			<!-- HUOM RUOAN LISÄYS EI TOIMI VIELÄ! -->
			<div class="item item-divider">Sopivat ruoat</div>
			<li class="item item-checkbox" ng-repeat="option in vm.foodOptions">
				<label class="checkbox">
	      	<input type="checkbox" ng-value="option" ng-click="vm.toggleFoodSelection(option)">
	     	</label>
	     	{{option}}
			</li>
			<div>{{vm.post.foodOptions}}</div>
			<br>

			<div class="item item-divider">Kategoria *</div>
			<label class="item item-radio" ng-repeat="category in vm.categoryOptions" >
				<input type="radio" name="group2" ng-model="vm.post.category" ng-value="category">
		    <div class="item-content">{{category}}</div>
		    <i class="radio-icon ion-checkmark"></i>
			</label>
			<br>

			<div class="item item-divider">Tagit (tagien avulla käyttäjät löytävöt arvostelusi)</div>
			<div class="item show-overflow">
				<tags-input ng-model="vm.tagsList" placeholder="Esim. 'herukkainen'"></tags-input>
	    </div>

			<div class="item item-divider">Arvosana (1-5) *</div>
			<div class="item range">
			  <i class="icon ion-thumbsdown"></i>
			  <input type="range" name="volume" ng-model="vm.post.rating" min="0" max="5" step="1">
			  <i class="icon ion-thumbsup"></i>
			  <div class="text-center" style="position:absolute;bottom:0;left:50%;">{{vm.post.rating}}</div>
			</div>
			<!-- <span class="glyphicon glyphicon-ok" ng-class="{hidden : vm.post.rating == 0}"></span> -->
			<!-- <label class="item item-input">
				<input ng-model="vm.post.rating" type="number" min="1" max="5" placeholder="Anna arvosana" class="form-control">
			</label> -->
			<br>

			<button class="button button-full btn-positive" ng-click="vm.validatePostData()">Tallenna</button>
		</form>

	</ion-content>
</ion-view>