<ion-view view-title="Arvostelun nimi">
	<ion-content class="padding tab-post-details">
		<div class="list card">
			<div class="item item-thumbnail-left">
				<img ng-if="vm.post.image.length"class="item-image" ng-if="vm.post.image.length" ng-src="data:image/jpeg;base64,{{vm.post.image}}" ng-click="vm.openModal()">
				<div ng-if="!vm.post.image.length" class="item-image no-img"></div>
				
				<div class="row row-center post-info-heading">
					<div class="col">
						<h2>{{vm.post.title}}</h2>
						<p>{{vm.post.category}}</p>
						<div style="display:inline;"><i ng-repeat="star in [] | range: vm.post.rating" class="icon ion-star rating-star"></i></div>
					</div>
					
				</div>
			</div>
		</div>

		<div class=" text-center" ng-class="vm.hidden ? 'ion-chevron-down' : 'ion-chevron-up'" ng-click="vm.toggleDetails()"></div>
		<div class="card slide-up-down" ng-show="!vm.hidden">
			<!-- country -->
			<div class="item item-divider">
		    {{vm.post.details.country.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.country.content}}
		  </div>
		  <!-- grapes -->
			<div class="item item-divider">
		    {{vm.post.details.grapes.label}}
		  </div>
		  <div class="item item-text-wrap">
		  	<div ng-repeat="grape in vm.post.details.grapes.content">
		  		{{grape.text}}
		  	</div>		    
		  </div>
		  <!-- litres -->
			<div class="item item-divider">
		    {{vm.post.details.litres.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.litres.content}}
		  </div>
		  <!-- location -->
			<div class="item item-divider">
		    {{vm.post.details.location.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.location.content}}
		  </div>
		  <!-- plot -->
			<div class="item item-divider">
		    {{vm.post.details.plot.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.plot.content}}
		  </div>
		  <!-- price -->
			<div class="item item-divider">
		    {{vm.post.details.price.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.price.content}}
		  </div>
		  <!-- producer -->
		  <div class="item item-divider">
		    {{vm.post.details.producer.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.producer.content}}
		  </div>
		  <!-- year -->
		  <div class="item item-divider">
		    {{vm.post.details.year.label}}
		  </div>
		  <div class="item item-text-wrap">
		    {{vm.post.details.year.content}}
		  </div>		  

		</div>
		
	</ion-content>
</ion-view>