<ion-view>
	<ion-nav-title style="overflow:visible;">
		<div class="bar bar-header item-input-inset" style="overflow:visible;">
			<label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <tags-input ng-focus="vm.showAutocomplete()" ng-model="vm.tags" placeholder="Lisää tagi" max-tags="4" add-on-blur="false" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" on-tag-added="vm.filterData($tag)" on-tag-removed="vm.filterDataLess()">
					<auto-complete source="vm.loadTags($query)" load-on-focus="true" load-on-empty="true" debounce-delay="200" select-first-match="true" max-results-to-show="15" min-length="1"></auto-complete> 
		    </tags-input>
		  </label>
		</div>
	</ion-nav-title>
	
	<ion-content class="padding tab-posts" on-scroll="vm.hideAutocomplete()">

		<!-- <div class="tags-wrapper">
			<div class="blur-overlay"></div>
		</div> -->

		<!-- sortBy- bar -->
		<div class="list" style="margin-top:20px;">
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Lajittele:
		    </div>
		    <select ng-model="vm.sort">
		      <option value="-rating">Arvostetuin ensin</option>
		      <option value="rating">Huonoin ensin</option>
		      <option value="details.price.content">Kallein ensin</option>
		      <option value="-details.year.content">Vanhin ensin</option>
		      <option value="details.year.content">Nuorin ensin</option>
		    </select>
		  </label>
		</div>
	
		<div class="list card" ng-repeat="post in vm.filteredData | orderBy:vm.sort">
			<div class="item item-thumbnail-left"  ng-click="vm.showDetails(post.$id)">

				<img class="item-image" ng-if="post.image.length" ng-src="data:image/jpeg;base64,{{post.image}}">
				<div ng-if="!post.image.length" class="item-image no-img"></div>

				<div class="row row-center post-info-heading">
					<div class="col">
						<h2>{{post.title}}</h2>
						<p>{{post.category}}</p>
						<p style="font-size:8px;">{{post.tags}}</p>
						<div style="display:inline;"><i ng-repeat="star in [] | range: post.rating" class="icon ion-star rating-star"></i></div>
					</div>
					<i class="icon ion-chevron-right icon-right"></i>
					<!-- <div class="post-rating"><span>{{post.rating}}</span></div> -->
				</div>
			</div>
		</div>

		
	</ion-content>
</ion-view>